@import '_variables';

h1 {
    color: $primary-color;
    font-size: 2em;
    text-align: center;
}

.main-content {
    width: 1200px;
    margin: 0 auto;
}

.card-title,
.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title {
    height: 48px;
    -webkit-line-clamp: 2;
}

.card-text {
    height: 72px;
    -webkit-line-clamp: 3;
}

// course css

.course-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.option-btn {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;

}

// stored-courses css
.trash-num {
    color: $primary-color;
    font-weight: bold;
    font-size: 1.2em;
}

.course-action {
    height: 37px;
    width: 40%;
    margin-top: 20px;
    justify-content: space-between;

    .checked-all {
        width: 30%;
        margin: unset;

        &:hover,
        input {
            cursor: pointer;
        }

    }

    .course-option {
        height: 100%;
        width: 40%;
        cursor: pointer;
    }

    .btn-apply {
        width: 20%;
    }
}

.form-check-input {
    cursor: pointer;
}