@import '_variables';

h1 {
    color: $primary-color;
    font-size: 2em;
    text-align: center;
}

.main-content {
    width: 1200px;
    margin: 0 auto;
}

.course-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.option-btn {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    
}
